table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
    display: table;
    border: 1px solid #ccc;
    margin: 50px;
  }
  
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: #c6b8f8;
  }
  
  tr:nth-child(even) {
    background-color: #ca2727;
  }
  