body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  text-align: center;
}
.card-grid {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  flex-wrap: wrap;
  margin: 0 auto;
}
a {
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}

a:hover {
  color: rgb(136, 136, 136);
}

.dark {
  background-color: #12121296;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  color: rgb(245, 237, 237);
}

.dark h4 {
  color: #f3eded;
}
.dark a {
  color: rgb(246, 247, 241);
}

.container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.themeToggleButton {
  width: 34px;
  height: 34px;
  font-size: large;
  text-align: center;
  display: flex;
  justify-content: center;
  border: 1px solid rgb(162, 161, 163);
  background: linear-gradient(to right, #5d6c7c, #40494d);
}
main {
  padding: 25px;
}
.centerButton {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 50px;
}
