body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton {
  background-color: rgba(75, 38, 240, 0.5);
  font-size: 25px;
  color: yellow;
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.favButton:hover {
  background-color: rgba(19, 11, 56, 0.5);
}

h1 {
  text-align: center;
}
.container-nav {
  display: flex;
  justify-content: space-around;
  height: 70px;
  background-color: rgba(124, 126, 235, 0.5);
}
.navbar {
  display: flex;
  width: 80vw;
  justify-content: flex-end;
  padding: 1rem;
}

a {
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
.card-a {
  font-size: 1.17em;
  font-weight: bold;
}
a:hover {
  color: rgb(136, 136, 136);
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin-top: 5rem;
  background-color: rgba(124, 126, 235, 0.5);
}

footer > img {
  width: 200px;
  margin: 0;
}
footer > p {
  margin: 0;
  padding-top: 0.7rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}
input {
  border-radius: 5px;
  padding: 5px;
}
.btn-form {
  padding: 5px;
  background-color: rgb(153, 162, 236);
}
.card {
  display: flex;
  /* background-color: rgb(252, 252, 250); */
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
  border-radius: 20px;
  max-height: 100%;
}

.card:hover {
  background-color: rgb(236, 236, 222);
  border: 0.5px solid rgb(181, 199, 82);
}

.card-grid {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  flex-wrap: wrap;
  margin: 0 auto;
}
.card > img {
  width: 180px;
  margin: 0;
  object-fit: cover;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 90%;
  display: table;
  border: 1px solid #ccc;
  margin: 50px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: #c6b8f8;
}

tr:nth-child(even) {
  background-color: #ca2727;
}

.dark {
  background-color: #12121296;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  color: rgb(245, 237, 237);
}

.dark h4 {
  color: #f3eded;
}
.dark a {
  color: rgb(246, 247, 241);
}
.err {
  background-color: rgb(208, 224, 236);
  color: rgb(80, 72, 72);
  padding: 5px 0px;
  border-radius: 5px;
  font-weight: bold;
  width: 23vw;
}
.container {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.icon {
  width: 24px;
  height: 24px;
  margin-left: 16px;
}
.themeToggleButton {
  width: 34px;
  height: 34px;
  font-size: large;
  text-align: center;
  display: flex;
  justify-content: center;
  border: 1px solid rgb(162, 161, 163);
  background: linear-gradient(to right, #5d6c7c, #40494d);
}
main {
  padding: 25px;
}
.centerButton {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 50px;
}
.message {
  background-color: rgb(3, 41, 70);
  color: rgb(247, 242, 242);
  padding: 5px 15px;
  border-radius: 5px;
  height: 100px;
  width: 25vw;
}
