body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton {
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

h1 {
  text-align: center;
}
.container-nav{
  display:flex;
  justify-content: space-around;
  height: 70px;

}
nav {
  display: flex;
  width: 80vw;
  justify-content: flex-end;
  padding: 1rem;
  background-color: rgba(233, 152, 170, 0.5);
}

a {
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
.card-a {
  font-size: 1.17em;
  font-weight: bold;
}
a:hover {
  color: rgb(136, 136, 136);
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin-top: 5rem;
  background-color: rgba(235, 75, 110, 0.5);
}

footer > img {
  width: 200px;
  margin: 0;
}
footer > p {
  margin: 0;
  padding-top: 0.7rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.card {
  display: flex;
  background-color: rgb(243, 236, 241);
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
  max-height: 100%;
}

.card:hover {
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  flex-wrap: wrap;
  margin: 0 auto;
  /* background-color: black;
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center; */
}
.card > img {
  width: 180px;
  margin: 0;
  object-fit: cover;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 90%;
  display: table;
  border: 1px solid #ccc;
  margin: 50px
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark {
  background-color: #12121296;
  color: white;
}
.dark > a {
  color: white;
}
.err {
  color: red;
}
.container {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.icon{
  width: 24px;
  height: 24px;
  margin-left: 16px;

}
